.collapsable {
    padding: 0px 15px 0px 15px;
    overflow: hidden;
    height: max-content;
    margin-bottom: 15px;
    z-index: 2;
    transition: 0.3s;
    user-select: none;
}

.title-container {
    font-size: 7.5px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container:hover .collapse-button{
    display: flex;
}

h2 {
    margin: 0;
    padding: 0;
    color: gray;
    font-weight: 800;
}

.collapse-button {
    display: none;
    align-items: center;
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(81, 81, 84);
    font-weight: 500;
    padding: 5.5px 5px 5.5px 5px;
    border-radius: 4px;
    cursor: default;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
}

.collapsable-tiem-text {
    font-size: 10pt;
    margin: 0px;
    padding: 0px 0px 0px 24px;
    white-space: nowrap;
}