@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --systemGray6: rgb(242, 242, 247);
  --fontPrimary: rgb(76, 73, 74);
  --electricBlue: rgb(2, 97, 239);
}

* {
  box-sizing: border-box;
}

#root {
  border-radius: 8px;
  overflow: hidden;
}

body {
  width: 100vw;
  margin: 0;
  font-family: 'Inter';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
