@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
  --systemGray6: rgb(242, 242, 247);
  --fontPrimary: rgb(76, 73, 74);
  --electricBlue: rgb(2, 97, 239);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
